<!DOCTYPE html>
<html>
  <head>
    <title>Emotion face tracker</title>
    <meta name="description" content="Emotion face tracker">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div style="position: relative">
      <video id="video" style="">Video stream not available.</video>
      <div id="faceRect"></div>
      <img id="emoji" src="https://cdn.glitch.com/e2329117-f736-4876-bffc-0363486fbcd5%2Fneutral.png?1508479373394" alt="emoji face"/>
    </div>
    <canvas id="canvas"></canvas>
    <script src="/client.js"></script>
  </body>
</html>
